<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/522ebbdf-79fc-4d5d-a680-266b0d363029/resourceGroups/NetworkWatcherRG/providers/Microsoft.Web/sites/FilmFiestaFront20240525181448</ResourceId>
    <ResourceGroup>NetworkWatcherRG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://filmfiestafront20240525181448.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e5669a77-6ee1-4266-bffc-7d1253b353a3</ProjectGuid>
    <PublishUrl>https://filmfiestafront20240525181448.scm.azurewebsites.net/</PublishUrl>
    <UserName>$FilmFiestaFront20240525181448</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>