@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bonjour</h1>
    <p>Bienvenue sur l'interface administrateur du site de streaming <a href="https://film-fiesta-angular-alexis1-papagno-4a89a54539504e9fe233407fb80.pages.epita.fr/browser/">Film Fiesta</a>.</p>
</div>
