@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>Informations que nous collectons</h3>

<p>Nous ne collectons aucune information personnelle à des fins publicitaires.</p>

